.header * {
    font-weight: bold;
    color: #FFC670 !important; 
    padding: 0px 5px;
  }

  .header {
    z-index: 2;
    position: fixed!important;
    width: 100%;
  }
  
  .navbar-dark .navbar-nav .nav-link {
    color: #FFFFFF;
  }
  
  .navbar-dark .navbar-nav .nav-link:hover {
    color: #FFC670;
  }

  .footer {
    background-color: rgb(78, 39, 89); /* Roxo */
  }
  
  .footer .social-icons a {
    color: #FFFFFF;
    margin: 0 10px;
    font-size: 1.5rem;
  }
  
  .footer .social-icons a:hover {
    color: #FFC670;
  }

  .home {
    font-family: 'Roboto', sans-serif;
    color: rgb(78, 39, 89)!important; /* Roxo */
    background-color: #FFFFFF;
  }

  .p-card:hover {
    background-color: rgb(78, 39, 89);
    color: white;
  }

  button {
    background-color: rgb(78, 39, 89);
  }
  

  .cart-button {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.cart-button:hover{
  color: white!important;
}

.cart-button svg {
  font-size: 1.2rem;
}

/* Estilo geral do Offcanvas */
.offcanvas {
    background-color: rgb(78, 39, 89); /* Roxo intenso */
    color: white;
  }
  
  .offcanvas-header {
    border-bottom: 1px solid #FFC670; /* Linha amarela */
  }
  
  .offcanvas-title {
    color: #FFC670; /* Amarelo */
  }
  
  .offcanvas-body {
    padding: 1.5rem;
  }
  
  .list-group-item {
    background-color: rgb(78, 39, 89); /* Roxo intenso */
    color: white;
    border: none;
  }
  
  .list-group-item:not(:last-child) {
    border-bottom: 1px solid #FFC670; /* Linha divisória amarela */
  }
  
  .list-group-item:hover {
    background-color: rgb(78, 39, 89); /* Roxo mais claro ao passar o mouse */
    color: #FFC670; /* Amarelo */
  }

  .offcanvas-header, .offcanvas-body {
    background-color: rgb(78, 39, 89);
    color: #FFC670;
  }
  
  .mt-3 button {
    background-color: #FFC670; /* Botão amarelo */
    color: rgb(78, 39, 89); /* Texto em roxo */
    border: none;
    width: 100%;
    font-weight: bold;
    transition: background-color 0.3s;
  }
  
  .mt-3 button:hover {
    background-color: #FFC670; /* Amarelo mais claro ao passar o mouse */
    color: rgb(78, 39, 89);
  }
  

  .main-content {
    padding: 2rem 0;
  }
  
  .intro-section h2,
  .catalog-section h2,
  .contact-section h2 {
    color: #FFC670; /* Amarelo */
  }

  